# Global-scope git config file, usually locates at ~/.gitconfig.
# Can be edited by: git config --edit --global

# some of configs are from: https://blog.gitbutler.com/how-git-core-devs-configure-git/

[core]
	longpaths = true
#	editor = code --wait

[credential]
	# used to store multiple tokens
	# https://git-scm.com/docs/gitcredentials#Documentation/gitcredentials.txt-useHttpPath
	useHttpPath = true

[commit]
	verbose = true

[tag]
	sort = version:refname

[diff]
	algorithm = histogram
	colorMoved = zebra
	mnemonicPrefix = true
	renames = true

[merge]
	ff = false
	# 'zdiff3' since Git 2.35.0; 'diff3' for earlier versions
	conflictStyle = zdiff3

[rebase]
	autoSquash = true
	# https://git-scm.com/docs/git-rebase#Documentation/git-rebase.txt-rebaserebaseMerges
	# https://stackoverflow.com/questions/56529435/what-is-the-behavior-of-the-cousins-options-in-git-rebase-rebase-merges
	rebaseMerges = no-rebase-cousins

[fetch]
	prune = true
	pruneTags = true
	# fetch from *all* remotes
	all = true

[help]
	autocorrect = prompt

[alias]
	aliases = config --get-regexp ^alias\\.

	confige = config --edit
	configs = config --list
	configeg = confige --global
	configel = confige --local

	s = status

	shown = show --name-only

	commit-init = commit --allow-empty --message 'Initial commit'
	commita = commit --amend --allow-empty
	commitan = commit --amend --no-edit
	commitf = commit --fixup

	rebases = rebase --autostash
	rebasei = rebases --interactive

	f = fetch

	b = branch

	stashu = stash --include-untracked

	tags = tag --list

	# https://stackoverflow.com/a/35075021
	adog = log --all --decorate --oneline --graph

	l = log --decorate=short --graph --pretty=tformat:'\t''%C(yellow)%h%C(reset) %C(green)%ci%C(reset) %C(ul)%an%C(reset)%C(brightred)%d%C(reset) %C(brightyellow)%s%C(reset)'
    la = l --all

#[user]
#	name = Leyvi Ni
#	email = 

# Conditionally include another config file to overwrite some settings.
# The following is used on machine that's mainly for work
# but sometimes used for personal repositories.
#[includeIf "hasconfig:remote.*.url:git@github.com:llskyhi/*"]
#	path = ~/.config/git/personal.gitconfig
# Using SSH key pairs to access GitHub repositories always uses credential git@github.com,
# which means exactly one SSH key would be active when multiple are used (each added in an account)
# for loggin in as user "git", in default configuration, it results in that another key never seems to work.
# A work around to this is using core.sshCommand config with like 'ssh -i ~./id_ed25519-GitHub-llskyhi.pub'.
#	path = ~/.config/git/GitHub-llskyhi.gitconfig